#splash {
	z-index: 99999 !important;
	position: fixed !important;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #333;
	opacity: .9;
	pointer-events: auto;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;

	.message {
		text-align: center;
		margin: 20% auto 0 auto;
		font-size: 400%;
		font-family: "Segoe UI", Arial, Helvetica, sans-serif;
		font-weight: normal;
		-webkit-text-shadow: 2px 2px #000000;
		text-shadow: 2px 2px #000000;
		text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
		text-transform: uppercase;
		text-decoration: none;
		color: #99CCFF;
		padding: 0;
	}
}

.ngplus-overlay-background {
	top: 0px;
	left: 0px;
	padding-left: 100px;
	position: absolute;
	z-index: 10000;
	height: 100%;
	width: 100%;
	background-color: #808080;
	opacity: 0.2;
}

.ngplus-overlay-content {
	position: absolute;
	/*border: 1px solid #000;*/
	/*background-color: #fff;*/
	font-weight: bold;
	height: 100px;
	width: 300px;
	height: 15em;
	width: 20em;
	z-index: 10000;
	text-align: center;
}

/*Optional Animations*/
.dissolve-animation.ng-hide-remove,
.dissolve-animation.ng-hide-add {
	display: inline !important;
	-webkit-transition: 0.5s linear all;
	-moz-transition: 0.5s linear all;
	-o-transition: 0.5s linear all;
	transition: 0.5s linear all;
}

.dissolve-animation.ng-hide-remove.ng-hide-remove-active,
.dissolve-animation.ng-hide-add {
	opacity: 1;
}

.dissolve-animation.ng-hide-add.ng-hide-add-active,
.dissolve-animation.ng-hide-remove {
	opacity: 0;
}