ul.nav.navbar-nav.navbar-right
	admin-menu
	li.dropdown(ng-show="session.user()")
		a.dropdown-toggle(href='' data-toggle="dropdown" role="button" aria-expanded="false")
			| {{session.user().name}} &nbsp;
			i.fa.fa-caret-down
		ul.dropdown-menu(role="menu")
			li(ng-show="session.isAdmin()")
				a(href='' ng-click="session.toggleAdmin()") admin &nbsp;
					i(ng-show="session.showAdmin()").fa.fa-check
			li(ng-click="session.setIndex(3)")
				a(href='') profile
			li(ng-click="session.logout()")
				a(href='') logout

	li(ng-class="{ active:session.isIndex(1) }" ng-hide="session.user()")
		a(href='' ng-click="session.setIndex(1)") login
	li(ng-class="{ active:session.isIndex(2) }" ng-hide="session.user()")
		a(href='' ng-click="session.setIndex(2)") signup