div.well
	button.close(type="button" ng-click="session.setIndex(0);")
		span &times;
	div.alert(role="alert" ng-show="session.alert()" ng-class="'alert-'+session.alert().label") {{session.alert().message}}
	form(ng-submit="session.update()")
		div.form-group
			input.form-control(type="text" ng-model="session.user().username" placeholder="Username" disabled)
		div.form-group
			input.form-control(type="text" ng-model="session.user().name" placeholder="Full Name")
		div.form-group
			input.form-control(type="text" ng-model="session.user().email" placeholder="Email")
		div.form-group
			input.form-control(type="password" ng-model="session.user().password" placeholder="Password")
		div.form-group
			input.form-control(type="password" ng-model="session.user().password2" placeholder="Confirm Password")

		div.form-group(ng-show="session.user().role == 'owner' || session.user().role == 'admin'")
			label.checkbox-inline
				input(type="radio", name="roleRadios", id="default", value="default", ng-model="session.user().role", disabled)
				| default
			label.checkbox-inline
				input(type="radio", name="roleRadios", id="member", value="member", ng-model="session.user().role", disabled)
				| member
			label.checkbox-inline
				input(type="radio", name="roleRadios", id="admin", value="admin", ng-model="session.user().role", disabled)
				| admin
			label.checkbox-inline
				input(type="radio", name="roleRadios", id="owner", value="owner", ng-model="session.user().role", disabled)
				| owner



		button.btn.btn-primary(type="submit") Update