div.well
	button.close(type="button" ng-click="session.setIndex(0);")
		span &times;
	div.alert(role="alert" ng-show="session.alert()" ng-class="'alert-'+session.alert().label") {{session.alert().message}}
	form(ng-submit="session.signUp()")
		div.form-group
			input.form-control(type="text" ng-model="session.formData.username" placeholder="Username")
		div.form-group
			input.form-control(type="text" ng-model="session.formData.name" placeholder="Full Name")
		div.form-group
			input.form-control(type="text" ng-model="session.formData.email" placeholder="Email")
		div.form-group
			input.form-control(type="password" ng-model="session.formData.password" placeholder="Password")
		div.form-group
			input.form-control(type="password" ng-model="session.formData.password2" placeholder="Confirm Password")
		button.btn.btn-primary(type="submit") Sign Up