div.well
	button.close(type="button" ng-click="admin.setIndex(0);")
		span &times;
	h4 users
	button.btn.btn-default.pull-right(ng-click="admin.reloadUsers()")
		i.fa.fa-refresh
	div(ng-repeat="user in admin.users()")
		//div.alert(role="alert" ng-show="session.alert()" ng-class="'alert-'+session.alert().label") {{session.alert().message}}
		form(ng-submit="admin.updateUser(user)")
			div.form-group
				input.form-control(type="text" ng-model="user.username" placeholder="Username" disabled)
			div.form-group
				input.form-control(type="text" ng-model="user.name" placeholder="Full Name")
			div.form-group
				input.form-control(type="text" ng-model="user.email" placeholder="Email")
			div.form-group
				input.form-control(type="password" ng-model="user.password" placeholder="Password")
			div.form-group
				input.form-control(type="password" ng-model="user.password2" placeholder="Confirm Password")
				div.form-group
				label.checkbox-inline
					input(type="radio" name="roleRadios" id="default" value="default" ng-model="user.role")
					| default
				label.checkbox-inline
					input(type="radio" name="roleRadios" id="member" value="member" ng-model="user.role")
					| member
				label.checkbox-inline
					input(type="radio" name="roleRadios" id="admin" value="admin" ng-model="user.role")
					| admin
				label.checkbox-inline
					input(type="radio" name="roleRadios" id="owner" value="owner" ng-model="user.role")
					| owner
			button.btn.btn-primary(type="submit") Update
		br