doctype html
html(ng-app="app")
	head
		meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
		title(ng-bind="title") spa-ant
		base(href="/")

		// build:css styles/lib.css
		// bower:css
		// endbower
		// endbuild

		// build:css styles/app.css
		// inject:css
		// endinject
		// endbuild

		body(ng-controller="ShellController as shell")
			header
				nav.navbar.navbar-default
					div.navbar-header
						button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar-collapse")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						div.navbar-brand {{shell.navline.title}}
					div#navbar-collapse.collapse.navbar-collapse
						primary-content-menu
						session-menu
			.row
				.content(ng-class="shell.contentColumns()")
					div(ui-view)
					div(ngplus-overlay ngplus-overlay-delay-in="800" ngplus-overlay-delay-out="200" ngplus-overlay-animation="dissolve-animation")
						i.fa.fa-spinner.fa-pulse
						div {{shell.busyMessage}}
				//primary-content
				.sidebar(ng-class="shell.sidebarColumns()")
					session-content
					admin-content

			div#splash(ng-show="showSplash")
				div.message Hello and Welcome


		// build:js js/lib.js
		// bower:js
		// endbower
		// endbuild

		// build:js js/app.js
		// inject:js
		// endinject
		// endbuild
